body {
  background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

/* navbar */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #f96e5b;
  opacity: 0.8;
  width: auto;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}

#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #333333;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#cssmenu ul li.last>a:after, #cssmenu ul li:last-child>a:after {
  display: none;
}

#cssmenu ul li.active a {
  color: #333333;
}

#cssmenu ul li.active a:before {
  width: 100%;
}

#cssmenu.align-right li.last>a:after, #cssmenu.align-right li:last-child>a:after {
  display: block;
}

#cssmenu.align-right li:first-child a:after {
  display: none;
}

@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last>a, #cssmenu ul li:last-child>a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

#today-task {
  /*transition*/
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  box-sizing: border-box;
  margin: 0;
}

#todo-list {
  width: 100%;
  margin: 0 auto 50px auto;
  padding: 50px;
  background: white;
  position: relative;
  /*box-shadow*/
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  /*border-radius*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#todo-list:before {
  content: "";
  position: absolute;
  z-index: -1;
  /*box-shadow*/
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  /*border-radius*/
  -webkit-border-radius: 100px / 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.todo-wrap {
  display: block;
  position: relative;
  padding-left: 35px;
  /*box-shadow*/
  -webkit-box-shadow: 0 2px 0 -1px #ebebeb;
  -moz-box-shadow: 0 2px 0 -1px #ebebeb;
  box-shadow: 0 2px 0 -1px #ebebeb;
}

.todo-wrap:last-of-type {
  /*box-shadow*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  top: -600px;
}

span[style]{
  height:100% !important;
}

.todo {
  display: inline-block;
  font-weight: 200;
  padding: 10px 5px;
  height: 37px;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.todo:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% + 2px);
  left: 0;
  width: 0%;
  height: 1px;
  background: #cd4400;
  /*transition*/
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.todo:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  height: 18px;
  width: 18px;
  top: 9px;
  left: -25px;
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 2px #d8d8d8;
  -moz-box-shadow: inset 0 0 0 2px #d8d8d8;
  box-shadow: inset 0 0 0 2px #d8d8d8;
  /*transition*/
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  /*border-radius*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.todo:hover:after {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 2px #949494;
  -moz-box-shadow: inset 0 0 0 2px #949494;
  box-shadow: inset 0 0 0 2px #949494;
}

.todo .fa-check {
  position: absolute;
  z-index: 1;
  left: -31px;
  top: 0;
  font-size: 1px;
  line-height: 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  color: transparent;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white;
}

:checked+.todo {
  color: #717171;
}

:checked+.todo:before {
  width: 100%;
}

:checked+.todo:after {
  /*box-shadow*/
  -webkit-box-shadow: inset 0 0 0 2px #0eb0b7;
  -moz-box-shadow: inset 0 0 0 2px #0eb0b7;
  box-shadow: inset 0 0 0 2px #0eb0b7;
}

:checked+.todo .fa-check {
  font-size: 20px;
  line-height: 35px;
  color: #0eb0b7;
}

/* Delete Items */

.delete-item {
  display: block;
  position: absolute;
  height: 36px;
  width: 36px;
  line-height: 36px;
  right: 0;
  top: 0;
  text-align: center;
  color: #d8d8d8;
  opacity: 0;
}

.todo-wrap:hover .delete-item {
  opacity: 1;
}

.delete-item:hover {
  color: #cd4400;
}

/* Add Items */

#add-todo {
  padding: 25px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  display: inline-block;
  cursor: pointer;
}

#add-todo:hover {
  color: #6bc569;
  /*transition*/
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

#add-todo .fa-plus {
  font-size: 14px;
  color:#606060;
  /*transition*/
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.input-todo {
  border: none;
  outline: none;
  font-weight: 200;
  position: relative;
  top: -1px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.editing {
  height: 0;
  overflow: hidden;
}

.editing.todo-wrap {
  box-shadow: 0 0 400px rgba(0, 0, 0, .8), inset 0 0px 0 2px #ebebeb;
}

.ui-state-dragging {
  height: 36px;
  line-height:18px;
}
.mystyle {
  background-color:rgb(66, 245, 185);
  color: white;
  font-size: 25px;
  font-family: "italic";
  text-align: center;
}
.card-body-tag{
  background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  float: right;
}
.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2b34b8);
  background-image: -moz-linear-gradient(top, #3498db, #2b34b8);
  background-image: -ms-linear-gradient(top, #3498db, #2b34b8);
  background-image: -o-linear-gradient(top, #3498db, #2b34b8);
  background-image: linear-gradient(to bottom, #3498db, #2b34b8);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 5px;
  text-shadow: 3px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  float: right;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3734d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3734d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3734d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #3734d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #3734d9);
  text-decoration: none;
}
.card-body-search,#tag-container,#search{
  background-image: url("https://secure.insightexpressai.com/adServer/adServerESI.aspx?script=false&bannerID=5120720&rnd=unsplash&redir=https://secure.insightexpressai.com/adserver/1pixel.gif");
}

.change:hover { 
  background-color: rgb(3, 252, 148);
}

/*timeTable*/
.table-entry{
  text-decoration: none;
  color: slategray;
}
.table-entry:hover{
  background-color: skyblue;
  color: snow;
}
.next-day-block{
  border-bottom: 1px solid darkblue;
  display: inline-block;
  width: 82%;
  margin-left: 9%;
  height: 9px;
}
.night-night{
  float: right;
  color: darkblue;
  background-color: white;
  display: none;
}
.next-day-block:hover .night-night{
  display: initial;
}
.table-time{
  white-space: nowrap;
}
.table-form-popover{
  max-width: 300px;
  font-size: small;
}
/* pop box*/
.button {
  font-size: 1em;
  padding: 2px;
  color: #938bda;
  border: 2px solid #3cb0fd;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: absolute;
  right: 60px;
  bottom: 15px;
}
.button:hover {
  background: #3cb0fd;
}
