/*
ROMNA Template
http://www.templatemo.com/free-website-templates/
*/

body {
	background: #f8f8f8;
	color: #606060;
	font-family: 'Proxima', sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: relative;
}

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	text-align: center;
	vertical-align: middle;
}

@font-face {
	font-family: 'Proxima';
	src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
	font-family: 'Proxima Bold';
	src: url(../fonts/ProximaNova-Bold.otf);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', "Proxima Bold";
	font-weight: bold;
}

p {
	letter-spacing: 1px;
	line-height: 28px;
}

hr {
	border-color: #e0e0e0;
	margin: 0 auto 20px auto;
	width: 100px !important;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.title {
	padding-bottom: 40px;
}

.title h2 {
	color: #202020;
	line-height: 20px;
	padding-bottom: 30px;
}

.title p {
	padding-top: 14px;
	padding-bottom: 30px;
}

.parallax-section {
	background-attachment: fixed !important;
	background-size: cover !important;
}

/* preloader section */

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: none repeat scroll 0 0 #fff;
	background: none repeat scroll 0 0 #f9f9f9;
}

.sk-spinner-rotating-plane.sk-spinner {
	width: 40px;
	height: 40px;
	background-color: #a4a4ff;
	border-radius: 50%;
	-webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
	animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@keyframes sk-rotatePlane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

/* home section */

#home {
	background: url(images/agenda-calendar-data-1020323.jpg) fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #000000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

#home h2 {
	letter-spacing: 2px;
}

#home .btn {
	background: #4a47d5;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	padding: 20px 40px;
	margin-top: 60px;
}

#home .btn:hover {
	background: #fff;
	color: #4a47d5;
	transition: all 0.4s ease-in-out;
}

/* navigation section */

.navbar-default {
	background: #fff;
	border: none;
	box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.04);
	margin: 0 !important;
}

.navbar-default .navbar-brand {
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	line-height: 40px !important;
}

.navbar-default .navbar-nav li a {
	color: #606060;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 40px;
}

.navbar-default .navbar-nav li a:hover {
	color: #4a47d5;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #4a47d5;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #4a47d5;
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border: none;
	padding-top: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #4a47d5;
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.smoothScroll:hover {
	color: #4a47d5;
}

/* intro section */

#intro {
	padding-top: 180px;
	padding-bottom: 140px;
	background: #4a47d5;
}

#intro h4 {
	padding-bottom: 16px;
}

#intro h1 {
	color: #fff !important;
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	text-align: left;
}

#intro .column {
	float: left;
}

#intro .left, #intro .right {
	width: 25%;
}

#intro .middle {
	width: 50%;
}

#intro p {
	font-family: 'Lato', helvetica, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #c2d0da !important;
	text-align: left;
}

/* work section */

#work {
	background-color: #ffffff;
}

#work .container {
	width: 100%;
	padding: 0;
	margin: 0;
}

#work .title {
	padding: 100px 60px 60px 60px;
}

#work .bg-black {
	background-color: #303030;
	color: #ffffff;
}

#work .bg-red {
	background-color: #4a47d5;
	color: #ffffff;
}

#work h3 {
	padding-bottom: 60px;
}

#work .fa {
	color: #77c7db;
	cursor: pointer;
	font-size: 40px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	transition: all 0.4s ease-in-out;
	margin-top: 40px;
}

#work .fa:hover {
	background-color: #ffffff;
	border-radius: 50%;
	color: #303030;
}

#work h2 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: rgb(48, 48, 48);
}

#work p {
	color: rgb(48, 48, 48);
}

/* team section */

#team {
	background: #202020 url("https://cdn.pixabay.com/photo/2018/05/04/10/30/team-3373638_960_720.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #4a47d5;
	padding-top: 100px;
	padding-bottom: 100px;
}

#team h2 {
	color: #4a47d5;
}

#team h3 {
	font-size: 20px;
	line-height: 10px;
}

#team h4 {
	line-height: 10px;
	font-weight: bold;
	line-height: 30px;
}

#team .team-des {
	background-color: #4a47d5;
	color: #ffffff;
	padding: 20px 12px;
	position: relative;
}

#team img {
	max-width: 100%;
	height: auto;
	padding-top: 60px;
}

/* portfolio section */

#portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
}

#portfolio h2 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: rgb(48, 48, 48);
}

#portfolio p {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: rgb(48, 48, 48);
	font-size: 18px;
}

.modal {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: #c2d0da;
	background-color: #4a47d5 !important;
}

#portfolio h3 {
	color: #5e00bb;
	padding-bottom: 60px;
}

#portfolio a {
	text-decoration: none;
}

#portfolio img {
	border-radius: 1px;
	width: 100%;
	max-width: 100%;
	height: auto;
	opacity: 0.8;
	margin-bottom: 34px;
	opacity: 0.6;
	transition: all 0.4s ease-in-out;
}

#portfolio img:hover {
	opacity: 0.9;
}

.modal a.close-modal {
	position: static !important;
}

/* price section */

#price {
	background-color: #4a47d5;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 120px;
}

#price h2 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: #fff;
}

#price p {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: #c2d0da;
	font-weight: normal;
	font-size: 18px;
}

#price blockquote {
	font-size: 18px;
	width: 80%;
	margin: 50px auto;
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	color: rgb(48, 48, 48);
	padding: 1.2em 30px 1.2em 75px;
	line-height: 1.6;
	position: relative;
	background: #EDEDED;
	box-shadow: 10px 12px 0.5rem rgba(0, 0, 0, 0.5);
}

#price blockquote span {
	display: block;
	color: #4a47d5;
	font-weight: bold;
	margin-top: 1em;
	font-size: 20px;
}

/* google map section */

#map-canvas {
	border: none;
	width: 100%;
	height: 400px;
}

.social-icon {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

.social-icon li {
	list-style: none;
	display: inline-block;
}

.social-icon li a {
	background: #f8f8f8;
	border-radius: 100%;
	color: #5e00bb;
	font-size: 32px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	margin: 0 6px 40px 6px;
}

.social-icon li a:hover {
	background: #080808;
}

@media screen and (max-width:980px) {
	.navbar-default .navbar-nav li a {
		padding-right: 14px;
		padding-left: 14px;
		font-size: 13px;
	}
	#intro h2 {
		font-size: 32px;
	}
	#work .title {
		padding: 80px 20px 20px 20px;
	}
	.portfolio-thumb .portfolio-overlay {
		padding-top: 24px;
	}
}

@media (max-width:767px) {
	.navbar-brand {
		padding-top: 6px;
	}
}

@media (max-width:400px) {
	#home h1 {
		font-size: 32px;
	}
	#home h2 {
		font-size: 22px;
	}
	#intro h2 {
		font-size: 20px;
	}
	.portfolio-thumb .portfolio-overlay {
		padding-top: 60px;
	}
}

#guided-proj {
	background-color: #f8f8f8;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	width: 75%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#other h2 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	color: rgb(48, 48, 48);
	margin-top: 100px;
}

#guided-proj .card {
	margin: 30px auto;
	width: 300px;
	height: 300px;
	border-radius: 40px;
	box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
	cursor: pointer;
	transition: 0.4s;
}

#guided-proj .card .card_image {
	width: inherit;
	height: inherit;
	border-radius: 40px;
	background-color: #4a47d5;
}

#guided-proj .card .card_image img {
	width: inherit;
	height: inherit;
	border-radius: 40px;
	object-fit: cover;
}

#guided-proj .card .card_title {
	text-align: center;
	border-radius: 0px 0px 40px 40px;
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-weight: bold;
	font-size: 30px;
	margin-top: -150px;
	height: 40px;
}

#guided-proj .card:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

#guided-proj .title-white {
	color: white;
}

@media all and (max-width: 500px) {
	.card-list {
		/* On small screens, we are no longer using row direction but column */
		flex-direction: column;
	}
}